# Default ignored files
/shelf/
/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
activeRecords_morinfra2u.iml
/test/activeRecord/arche_tests/

/src/activeRecord/CompilationMain.java
/src/activeRecord/PrincipaleJDBC.java

/out